body {
    background: #37474f;
    font-family: 'Montserrat', sans-serif;
}

.nav-wrapper .brand-logo img {
    height: 64px;
}

.carousel {
    height: 700px;
}

.carousel.carousel-slider .carousel-fixed-item.with-indicators {
    bottom: 100px;
    margin-left: 60px;
}

.bannerText {
    margin-bottom: 20px;
    font-size: 2.5vw;
}

a.btn {
    border-radius: 15px;
}

span#name {
    display: block;
    /* font-size: 2rem; */
    /* color: #1d576a; */
    font-weight: 600;
    padding-top: 10px;
}

/* cards */

#Services {
    background: #fff;
}

.card {
    .card-title {
        &.hidden {
            text-indent: -9999px;
        }
    }

    .card-image {
        .card-badge {
            position: absolute;
            bottom: 0px;
            width: 100%;
            text-align: left;
            text-transform: uppercase;
            font-size: 0.9em;
            padding: 0.2em 24px 0.8em 24px;
            color: #fff;
            z-index: 2;

            .material-icons {
                position: relative;
                margin-right: 8px;
                top: 7px;
            }

            +.card-title {
                padding-bottom: 66px;
            }
        }
    }

    .card-action {
        white-space: nowrap;
    }

    &.horizontal {
        .card-image {
            .card-badge {
                text-align: center;
                padding: 0.2em 0;

                .material-icons {
                    display: none;
                }
            }
        }
    }
}

/* cards end */

@media (max-width: 768px) {
    .nav-wrapper .brand-logo img {
        height: 50px;
        margin-top: 0.4rem;
    }

    .carousel.carousel-slider .carousel-fixed-item.with-indicators {
        bottom: 42px;
        margin-left: 20px;
        margin-right: 20px;
    }

    span#name {
        display: block;
        font-size: 2rem;
        /* color: #1d576a; */
        font-weight: 600;
        padding-top: 10px;
        text-align: center;
    }

    h1.bannerContent {
        font-size: 3vw;
        text-align: center;
    }

    .bannerText {
        text-align: center;
    }

}