body {
    background: #37474f;
    font-family: 'Montserrat', sans-serif;
}

.nav-wrapper .brand-logo img {
    height: 64px;
}

.carousel {
    height: 700px;
}

.carousel.carousel-slider .carousel-fixed-item.with-indicators {
    bottom: 100px;
    margin-left: 60px;
}

.bannerText {
    margin-bottom: 20px;
    font-size: 2.5vw;
}

a.btn {
    border-radius: 15px;
}

span#name {
    display: block;
    /* font-size: 2rem; */
    /* color: #1d576a; */
    font-weight: 600;
    padding-top: 10px;
}

@media (max-width: 768px) {
    .nav-wrapper .brand-logo img {
        height: 50px;
        margin-top: 0.4rem;
    }

    .carousel.carousel-slider .carousel-fixed-item.with-indicators {
        bottom: 42px;
        margin-left: 20px;
        margin-right: 20px;
    }

    span#name {
        display: block;
        font-size: 2rem;
        /* color: #1d576a; */
        font-weight: 600;
        padding-top: 10px;
        text-align: center;
    }

    h1.bannerContent {
        font-size: 3vw;
        text-align: center;
    }

    .bannerText {
        text-align: center;
    }

}